.playerCardContainer {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.playerName {
    font-weight: bold;
    margin-bottom: 5px;
}

.playerPosition {
    font-size: 0.9em;
    color: #555;
}